<%= form_for(@link, :html => { :method => :delete }) do  %>
    <h2>Are you sure you want to delete this link?</h2>
    <p>
      <%= submit_tag "Delete", :class => 'button' %> or <%= link_to "Cancel", links_path, :class => 'button' %>
    </p>
<% end %>
