<div class="help-expander">
  <input type="checkbox" id="help" />
  <label for="help"><strong>Help Formatting</strong></label>
  <ul>
    <li>&NonBreakingSpace;</li>
    <li><i class="fa fa-question-circle"></i> You can use simple BB code: [B]<strong>Bold</strong>[/B],[I]<em>Emphasized</em>[/I],[U]<u>Underlined</u>[/U],[S]<strike>Strike through</strike>[/S]</li>
    <li><i class="fa fa-question-circle"></i> You can link to a board way: [name_spaces/42]</li>
    <li><i class="fa fa-question-circle"></i> You can link to a thread this way: [board_threads/42] </li>
    <li><i class="fa fa-question-circle"></i> You can link to a post this way: [posts/42] </li>
    <li><i class="fa fa-question-circle"></i> You can link to a image way: [images/42]</li>
    <li><i class="fa fa-question-circle"></i> You can link to a wiki this way: [wikis/Rules]</li>
    <li><i class="fa fa-question-circle"></i> Links get automatically removed, but you can link to the Links listed under links this way: [links/42]</li>
    <li><i class="fa fa-question-circle"></i> 14 smileys are available: :$ , |-) , 8-) , :'-( , >:-) , :-| , :-( , *glasses* , :-D , :-o , *sick* , :-) , :-p , ;-)</li>
  </ul>
</div>
